In [1]:
import uproot
import pandas as pd
import awkward as ak

In [2]:
filename="/work/project/escience/ruttho/FCC-ee_SimpleDelphesAnalysis/EventSample/MassScan_HZ4l_HLFV/HZ4l_HLFV_1M_HMass160_Seed160/HZ4l_HLFV_1M_HMass160_Seed160_IDEA.root"
data_column=[
 'Particle.PID',
 'Particle.Status',
 'Particle.IsPU',
 'Particle.M1',
 'Particle.M2',
 'Particle.D1',
 'Particle.D2',
 'Particle.Charge',
 'Particle.Mass',
 'Particle.E',
 'Particle.Px',
 'Particle.Py',
 'Particle.Pz',
 'Particle.P',
 'Particle.PT',
 'Particle.Eta',
 'Particle.Phi',
 'Particle.Rapidity',
 'Particle.T',
 'Particle.X',
 'Particle.Y',
 'Particle.Z',
 'Particle_size',]
with uproot.open(filename) as file:
    a=file["Delphes"]
    tree=a.arrays(data_column,library="pd")

In [3]:
notableinfo=zip(tree["Particle.Charge"],tree["Particle.PID"], tree["Particle.PT"], tree["Particle.M1"], tree["Particle.M2"], tree["Particle.D1"], tree["Particle.D2"])

In [4]:
for info in notableinfo:
    print(info)
    break

(<Array [1, 1, -1, -1, 0, 0, 1, ..., 0, 1, -1, 1, 1, 0, -1] type='19 * int32'>, <Array [-11, -11, 11, 11, 23, 25, ..., 13, -11, -11, 22, 13] type='19 * int32'>, <Array [0, 0, 0, 0, 12.2, ..., 73.4, 73.4, 0.00793, 83.3] type='19 * float32'>, <Array [-1, 0, -1, 2, 1, 1, 4, ..., 8, 10, 5, 5, 15, 15, 14] type='19 * int32'>, <Array [-1, -1, -1, -1, 3, 3, ..., -1, -1, -1, -1, -1, -1] type='19 * int32'>, <Array [1, 4, 3, 4, 6, 14, 10, ..., -1, 18, 16, -1, -1, -1] type='19 * int32'>, <Array [1, 5, 3, 5, 7, 15, 10, ..., -1, 18, 17, -1, -1, -1] type='19 * int32'>)

In [5]:
pd.DataFrame(info,index=["Charge","PID","PT","M1","M2","D1","D2"])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Charge,1.0,1.0,-1.0,-1.0,0.000000,0.000000,1.000000,-1.000000,-1.000000,0.000000,1.000000,-1.000000,0.000000,1.000000,-1.000000,1.000000,1.000000,0.000000,-1.000000
PID,-11.0,-11.0,11.0,11.0,23.000000,25.000000,-11.000000,11.000000,11.000000,22.000000,-11.000000,11.000000,22.000000,-11.000000,13.000000,-11.000000,-11.000000,22.000000,13.000000
PT,0.0,0.0,0.0,0.0,12.225109,12.225109,36.889427,32.394855,30.178949,2.336282,36.681725,30.157368,0.021581,36.681725,83.259888,73.423935,73.416008,0.007929,83.259888
M1,-1.0,0.0,-1.0,2.0,1.000000,1.000000,4.000000,4.000000,7.000000,7.000000,6.000000,8.000000,8.000000,10.000000,5.000000,5.000000,15.000000,15.000000,14.000000
M2,-1.0,-1.0,-1.0,-1.0,3.000000,3.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
D1,1.0,4.0,3.0,4.0,6.000000,14.000000,10.000000,8.000000,11.000000,-1.000000,13.000000,-1.000000,-1.000000,-1.000000,18.000000,16.000000,-1.000000,-1.000000,-1.000000
D2,1.0,5.0,3.0,5.0,7.000000,15.000000,10.000000,9.000000,12.000000,-1.000000,13.000000,-1.000000,-1.000000,-1.000000,18.000000,17.000000,-1.000000,-1.000000,-1.000000

In [7]:
max(tree["Particle_size"])

69